.first-screen{
	h3{
		margin-top: 10rem;
		font-family: 'Titillium Web', sans-serif;
		color: $text-color;
	}
}
.comentario{
	margin-top: 10rem;
	font-family: 'Titillium Web', sans-serif;
	color: $text-color;
}
.second-screen{
	display: none;
	form{
		margin-top: 10rem;
	}
}
.third-screen{
	display: none;
	form{
		margin-top: 10rem;
	}
}
.quienJuega{
	margin-top: 20px;
}
.casilla{
	width: 50px;
	height: 50px;
	margin: 0.2rem;
}
.casilla [value="x"] , .casilla [value="o"]{
	color: $white;
}
.winner{
	width: 100px;
	height: 20px;
	margin-left: 15px;
	margin-right: 15px;
}
.winner[value="x"]{
	color: $white;
	height: 40px;
}
.winner[value="o"]{
	color: $white;
	height: 40px;
}
.espacio{
	width: 20px;
}
.button-historial{
	margin-top: 2rem;
}
.fifth-screen{
	display: none;
}
strong{
	font-weight: 700;
	color: $link-color;
}